  #                                                        Lists

The Python list object is the most general sequence provided by the language. Lists are positionally ordered collections of arbitrarily typed objects, and they have no fixed size. They are also mutable—unlike strings, lists can be modified in place by assignment to offsets as well as a variety of list method calls. Accordingly, they provide a very flexible tool for representing arbitrary collections—lists of files in a folder, employees in a company, emails in your inbox, and so on. They have a characteristic square brackets(lis[]). Lists are also nestable. Indexing of lists starts from 0 to n-1.
A list as follows:

In [5]:
L = [420,"Python",45.5]
print (L)

[420, 'Python', 45.5]

Q1. Create a list named first_list with the following elemnts : "Michael Jackson", 420, True, [1,2,3], 55.9 
Press shift+enter to execute

### Accessing items in a list
It is possible to retrieve only a part of a list using the single square bracket operator [ ]. This operator can be also used to get a single element in a specific position or multiple elements within a range. Take a look at the next example:

In [6]:
L[1]

'Python'

The following example demonstrates how to get elements of a list within a range also known as slicing.

In [7]:
old_list = [123.5,420,"ncs","album",[1,2,3],"rock"]
new_list = old_list[1:3]
new_list

[420, 'ncs']

Q2. Create a list old_list consisting of values : "spam", 232, "food", "quantity",7.2 . Create another list new_list which contains parts of the old_list by using the slicing technique.

## Concatenation of list
Concatenation is the process of putting things together, in sequence. Just use the + operator, as shown in Figure 4.

In [9]:
album_titles1 = ["Thriller", "Back in Black"]

album_titles2 = ["The Dark Side of the Moon", "The Bodyguard"]

new_album = album_titles1 + album_titles2
new_album

['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard']

Q3. Concatenate the following lists A=[1,'a'] abd B=[2,1,'d']

## Nesting of lists
A list can contain another list, dictionary, tuple and so on. We can use nesting to create 2D matrices. Consider example:

In [11]:
M = [[1,2,3],[4,5,6],[7,8,9]]
M[1][1]

5

In [12]:
M[1]

[4, 5, 6]

## Operations on Lists

In [13]:
L = ["Michael Jackson",10.1,1982,"MJ",1]
L.extend(["pop",10]) #Two new elements will be added.
L

['Michael Jackson', 10.1, 1982, 'MJ', 1, 'pop', 10]

In [17]:
M = [[1,2,3],[4,5,6],[7,8,9]]
M.append([10,11,12]) # append will add one new element at the end of the list.
M

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [18]:
A = ["hard rock",1.2,10]
del(A[0]) #deleting element by index
A

[1.2, 10]

In [20]:
album_list = ["Michael Jackson",10.1,1982,"MJ",1,"Thriller"]
album_list.remove("Thriller") # removing element by element name.
album_list

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [21]:
name = "Hello World"
name_list = name.split() # split the string at white spaces
name_list

['Hello', 'World']

In [24]:
str = "a,b,c,d"
str_list = str.split(',') # split the string at commas
str_list

['a', 'b', 'c', 'd']

In [25]:
album_list = ["Michael Jackson",10.1,1982,"MJ",1,"Thriller"]
album_list.index("Thriller") #finding incex of a number

5

### Cloning
When we assign a variable to another variable (A=B), then we are actually creating an alias for that old element and the changes made in one variable will be reflected in the other. So to solve this problem we clone the elements.

In [27]:
A = ["Michael Jackson",10.1,1982,"MJ",1,"Thriller"]
B = A[:]
B

['Michael Jackson', 10.1, 1982, 'MJ', 1, 'Thriller']

#                                                Tuples
Tuples are similar to lists, but the data cannot be changed(i.e. immutable). Tuples elements are also accessed using indexing. It would be good to store the music genres in tuples because they do not change very often.

Here are some examples of tuples in Python:

In [28]:
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

To get the length of a tuple, that is, the number of elements, use the length function, like this:

In [29]:
len(genres_tuple)

8

You can access a specific element , the value of index 3 is “hard rock ”, the code is given by:

In [30]:
genres_tuple[3]

'hard rock'

Like lists You can get multiple elements by slicing Index 3:6 :

In [31]:
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

Q4. Declare and find the first two elements of the tuple "genres_tuple" with elements "pop", "rock", "soul", "hard rock", "soft rock","R&B", "progressive rock", "disco" .

You can get the index of a tuple by coding the value using the index function, like this:

In [32]:
genres_tuple.index("R&B")

5

Q5. Find the first index of 'disco' from the tuple.

You can create a list from a tuple like this:

In [33]:
genres_list = list(genres_tuple) 
genres_list

['pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco']

Now you can sort the list:

In [34]:
genres_list.sort() 
genres_list

['R&B',
 'disco',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul']

You can't directly sort a tuple, because that would be modifying it, and tuples are immutable. However, the above method, as well as the sorted function below, can be used to create a sorted list from a given a tuple.

In [35]:
C_tuple = (-5,1,-3)
C_list = sorted(C_tuple)
C_list

[-5, -3, 1]

## Operation on Tuple

In [38]:
T = (1,2,3,4,2,4,5,4)
len(T) # number of elements in the tuple

8

In [39]:
T + (4,7) # concatenation

(1, 2, 3, 4, 2, 4, 5, 4, 4, 7)

In [40]:
T.index(4) # first index of element 4

3

In [41]:
T = (1,2,3,4,2,4,5,4)
T.count(4) # number of occurences of element 4

3

In [42]:
T[4]

2

In [43]:
Tu = ("spam",3.0,[11,22,33])
Tu[2][1]

22

# Dictionary

A dictionary consists of keys and values. It is helpful to compare a Dictionary to a List. Instead of the numerical indexes like a list, dictionarys have keys. These keys are labels that are used to access values within a dictionary. Each key is separated from its value by a colon (:). The items are separated by commas, and the whole thing is enclosed in curly braces. An empty dictionary without any items is written with just two curly braces, like this: {}.

In [44]:
 release_year_dict = {"Thriller":"1982", "Back in Black":"1980", \
                    "The Dark Side of the Moon":"1973", "The Bodyguard":"1992", \
                    "Bat Out of Hell":"1977", "Their Greatest Hits (1971-1975)":"1976", \
                    "Saturday Night Fever":"1977", "Rumours":"1977"}
release_year_dict

{'Back in Black': '1980',
 'Bat Out of Hell': '1977',
 'Rumours': '1977',
 'Saturday Night Fever': '1977',
 'The Bodyguard': '1992',
 'The Dark Side of the Moon': '1973',
 'Their Greatest Hits (1971-1975)': '1976',
 'Thriller': '1982'}

What we just did was create a dictionary in Python. Like a list, a dictionary holds a sequence of elements. Each element is represented by a key and its corresponding value. Dictionaries are created with two curly braces containing keys and values separated by a colon. For every key, there can only be a single value. Multiple keys however can hold the same value. Keys can only be strings, numbers, or tuples, but values can be any data type.

Q6. Create a dictionary with keys: "Roll_no", "name", "age", "email" and give values to it.

To get the values of a key.

In [45]:
release_year_dict['Thriller']

'1982'

Now let us retrieve the keys of the dictionary release_year_dict.

In [46]:
release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

And you can retrieve the values using values()

In [47]:
release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

Q7. The Albums 'Back in Black', 'The Bodyguard' and 'Thriller' have the following Music recording sales in millions 50,50 and 65 respectively

a) Create a dictionary “album_sales_dict” where the keys are the album name and the sales in millions are the values.

b) Use the dictionary to find the total sales of "Thriller"

c) Find the names of the album from the dictionary using the method "keys"

d) Find the names of the recording sales​ from the dictionary using the method "values"

## Nesting dictionaries

In [48]:
rec = {"name":{"first":"Bob","last":"Smith"},
      "jobs":["development","manager"],
      "age":40.5}

To add another element to the dictionary:

In [49]:
rec["jobs"].append("janitor")

In [50]:
rec

{'age': 40.5,
 'jobs': ['development', 'manager', 'janitor'],
 'name': {'first': 'Bob', 'last': 'Smith'}}

To check whether a key is present or not:

In [51]:
"DOB" in rec

False

In [52]:
"jobs" in rec

True

# Sets

A set is a unique unordered sequenced collection of objects in Python. You can denote a set with a curly bracket “{}”.Python will remove duplicate items :

In [53]:
s = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
s

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

We can also convert a list into a set:

In [54]:
album_list = ["Michael Jackson", "Thrill" ,1982, "Thrill"]
album_set = set(album_list)
album_set

{1982, 'Michael Jackson', 'Thrill'}

## Operations on Sets

In [55]:
A = {"thriller", "back in black","AC/DC"}

In [56]:
A.add("NSYNC")

In [57]:
A

{'AC/DC', 'NSYNC', 'back in black', 'thriller'}

In [58]:
A.remove("NSYNC")
A

{'AC/DC', 'back in black', 'thriller'}

We can verify if an element is present in set:

In [59]:
"thriller" in A

True

In [60]:
"who" in A

False

In [61]:
A = {"thriller", "back in black","AC/DC"}
B = {"Michael Jackson", "thriller", "pop"}

In [62]:
C = A&B #intersection
C

{'thriller'}

In [63]:
D = A.union(B) #union
D

{'AC/DC', 'Michael Jackson', 'back in black', 'pop', 'thriller'}

In [64]:
C.issubset(A) # to check whether C is subset of A or not.

True

Q8. Convert the following list to a set ['rap','house','electronic music','rap']

In [65]:
A.difference(B) # to find A-B

{'AC/DC', 'back in black'}

In [66]:
A.union(B) # to find union

{'AC/DC', 'Michael Jackson', 'back in black', 'pop', 'thriller'}

In [67]:
A.issuperset(C) #to check whether A is superset of C

True